/***
 *    ┏┓┓ ┏┏┓┓┏┏┓┏┓┳┓  ┏┓┏┓┏┓
 *    ┗┓┃┃┃┣┫┗┫┃┃┗┓┃┃━━┃ ┗┓┗┓
 *    ┗┛┗┻┛┛┗┗┛┗┛┗┛┻┛  ┗┛┗┛┗┛
 *
 */

/* Kintsukuroi colors */
@define-color background        #141210;
@define-color foreground        #e5c9a0;
@define-color border-color      #e5c9a0;
@define-color progressbar-color #c09d59;

/* Main css config */
window {
  border-radius: 0;
  border: 2px solid @border-color;
  background-color: @background;
}

label {
  font-family: "Maple Mono CN", "Material Symbols Rounded", sans-serif;
  font-size: 11pt;
  font-weight: 600;
  color: @foreground;
}

image {
  color: @color10;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progressbar-color;
}
