/***
 *    ┏┓┓ ┏┏┓┓┏┏┓┏┓┳┓  ┏┓┏┓┏┓
 *    ┗┓┃┃┃┣┫┗┫┃┃┗┓┃┃━━┃ ┗┓┗┓
 *    ┗┛┗┻┛┛┗┗┛┗┛┗┛┻┛  ┗┛┗┛┗┛
 *
 */

/* Lunaris colors */
@define-color background        #0e151a;
@define-color foreground        #f6f6f5;
@define-color border-color      #baa0e8;
@define-color progressbar-color #e8eda2;

/* Main css config */
window {
  border-radius: 0;
  border: 2px solid @border-color;
  background-color: @background;
}

label {
  font-family: "GeistMono Nerd Font Propo";
  font-size: 11pt;
  color: @foreground;
}

image {
  color: @color10;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progressbar-color;
}
