/**
 *    ┏┓┓ ┏┏┓┓┏┳┓┏┓  ┏┓┏┓┏┓
 *    ┗┓┃┃┃┣┫┗┫┃┃┃ ━━┃ ┗┓┗┓
 *    ┗┛┗┻┛┛┗┗┛┛┗┗┛  ┗┛┗┛┗┛
 *
 */

:root {
  /* Lunaris colors */
  --color0:   #151f26;
  --color1:   #dd6e6b;
  --color2:   #87e58e;
  --color3:   #e8eda2;
  --color4:   #baa0e8;
  --color5:   #e48cc1;
  --color6:   #a7dfef;
  --color7:   #e6e6e5;
  --color8:   #233440;
  --color9:   #e1837f;
  --color10:  #97eda2;
  --color11:  #f6f6b6;
  --color12:  #d0b5f3;
  --color13:  #e7a1d7;
  --color14:  #bcf4f5;
  --color15:  #ffffff;

  /* Background Variants */
  --bg: #0e151a;
  --bg-light: #151f26;
  --bg-highlight: #233440;

  /* Foreground */
  --fg: #f6f6f5;
  --fg-inverse: #0e151a;

}

/* Base styles */
* {
  font-family: "Iosevka Nerd Font Propo", monospace;
  border-radius: 0px;
}

*:focus {
  outline: none;
  box-shadow: none;
}

/* Scrollbar */
scrollbar,
scrollbar slider {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  background: transparent;
}

/* close button */
.close-button {
    background: var(--color1);
    color: var(--fg-inverse);
    text-shadow: none;
    padding: 0;
    margin-top: 8px;
    margin-right: 14px;
    box-shadow: none;
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.close-button:hover {
    background: var(--color9);
}

/* Notifications */
.notification-row {
  background: none;
}

.notification-row:focus,
.notification-group:focus {
  background: var(--bg);
}


.notification-row .notification-background .notification {
    padding: 0;
    margin: 6px 12px;
    border: 1px solid var(--color4);
    background: var(--bg);
}

.notification-row .notification-background .notification.low {
  border: 1px solid var(--color7);
}

.notification-row .notification-background .notification.normal {
  border: 1px solid var(--color4);
}

.notification-row .notification-background .notification.critical {
  border: 3px solid var(--color1);
}

.notification-default-action {
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background: var(--bg-light);
    border: none;
    color: var(--fg);
    transition: all .15s ease-in-out;
    font-size: 10.5pt;
}

.notification-default-action:hover {
  background: var(--bg-highlight);
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Notification Content */
.notification-content {
  background: transparent;
  padding: 14px;
}

.notification-content .text-box label {
  filter: none;
}

.notification-content .text-box .summary {
    font-size: 10.5pt;
    font-weight: bold;
    background: transparent;
    color: var(--color4);
    margin-left: 10px;
}
.notification-content .text-box .time {
    font-size: 10.5pt;
    font-weight: bold;
    background: transparent;
    color: var(--color10);
    text-shadow: none;
    margin-right: 10px;
}
.notification-content .text-box .body {
    font-size: 10.5pt;
    font-weight: bold;
    background: transparent;
    color: var(--fg);
    text-shadow: none;
    margin-left: 10px;
}


/* Inline Reply */
.notification-content .inline-reply {
  margin-top: 4px;
}

.notification-content .inline-reply .inline-reply-entry {
  background: var(--bg-2);
  color: var(--text);
  caret-color: var(--text);
  border: var(--border-width) solid var(--border);
  border-radius: var(--radius);
}

.notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: rgb(48, 48, 48);
  border: var(--border-width) solid var(--border);
  border-radius: var(--radius);
  color: var(--text);
}

.notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: rgb(150, 150, 150);
  border: var(--border-width) solid var(--border);
  border-color: transparent;
}

.notification-content .inline-reply .inline-reply-button:hover {
  background: var(--bg-1);
}

/* Alternative Actions */
.notification-alt-actions {
  background: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 4px;
}

.notification-action {
  margin: 4px;
  padding: 0;
  font-size: 10px;
}

.notification-action > button {
  border-radius: var(--radius);
  font-size: 10px;
  padding: 1px;
}

/* Notification Groups */

.notification-group-headers {
    font-weight: bold;
    font-size: 10.5pt;
    color: var(--color15);
}

.notification-group-icon {
    color: var(--color4);
    margin-right: 8px;
}

.notification-group-collapse-button {
    background: var(--bg);
    color: var(--color3);
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.notification-group-collapse-button:hover {
    background: var(--color3);
    color: var(--fg-inverse);
}

.notification-group-close-all-button {
    background: var(--color1);
    color: var(--fg-inverse);
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.notification-group-close-all-button:hover {
    background: var(--color9);
}


.notification-group.collapsed
  .notification-row:not(:last-child)
  .notification-action,
.notification-group.collapsed
  .notification-row:not(:last-child)
  .notification-default-action {
  opacity: 1;
}

.notification-group.collapsed:hover
  .notification-row:not(:only-child)
  .notification {
  background-color: var(--bg-highlight);
}

/* Cntrol Center */
.control-center {
    background: var(--bg);
    border-left: 4px solid var(--color4);
    margin-left: 10px;
    box-shadow: 0 0 5px 0 var(--color0);
}

.control-center .control-center-list-placeholder {
  opacity: 1;
}

.control-center .control-center-list {
  background: transparent;
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition:
    opacity 400ms ease-in-out,
    background var(--transition);
}

.control-center
  .control-center-list
  .notification
  .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: var(--bg-highlight);
}

.blank-window,
.floating-notifications {
  background: transparent;
}

/* Widget Title */
.widget-title {
    color: var(--color4);
    margin: 10px 2px 10px 10px;
    font-size: 10.5pt;
    font-weight: bold;
}

.widget-title>button {
    font-size: initial;
    font-weight: bold;
    color: var(--color1);
    text-shadow: none;
    background: var(--color0);
    border: 1px solid var(--color0);
    box-shadow: none;
}

.widget-title>button:hover {
    background: var(--color1);
    color: var(--fg-inverse);
}

/* Widget Dnd */
.widget-dnd {
    margin: 10px 2px 10px 10px;
}

.widget-dnd>label {
    color: var(--color1);
    font-size: 12.5pt;
    font-weight: bold;
}

.widget-dnd>switch {
    font-size: initial;
    background: var(--color0);
    box-shadow: none;
    transition: all .1s ease-in-out;
}

.widget-dnd>switch:checked {
    background: var(--color1);
}

.widget-dnd>switch slider {
    background: var(--bg-highlight);
}

/* Widget Label */
.widget-label {
    margin: 10px;
}

.widget-label>label {
    font-size: 1.5rem;
    color: var(--fg);
}

/* Widget Mpris */
.widget-mpris {
    color: var(--fg);
    background: var(--color0);
    padding: 10px;
    margin: 10px;
}

.widget-mpris > box > button {
  margin: 0px;
}

.widget-mpris-player {
    padding: 0px;
    margin: 0px;
}

.widget-mpris-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.widget-mpris-subtitle {
    font-size: 1.1rem;
}

/* Widget Buttons Grid */
.widget-buttons-grid {
    font-size: x-large;
    padding: 8px;
    margin: 20px 10px 10px;
    background: var(--color0);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: transparent;
    color: var(--fg);
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    color: var(--color10);
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent;
}

.topbar-buttons>button {
    border: none;
    background: transparent;
}

/* Widget Volume */
.widget-volume {
    background: var(--color0);
    padding: 8px;
    padding-left: 16px;
    margin: 10px;
    font-size: x-large;
    color: var(--color10);
}

.widget-volume>box>button {
    background: var(--color4);
}

.per-app-volume {
    background-color: var(--color0);
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
}


/* Widget Backlight */
.widget-backlight {
    background: var(--color0);
    padding: 8px;
    padding-left: 16px;
    margin: 10px;
    font-size: x-large;
    color: var(--color10);
}

/* Widget Inhibitors */
.widget-inhibitors {
    color: var(--color4);
    margin: 10px;
    font-size: 10.5pt;
    font-weight: bold;
}

.widget-inhibitors>button {
    font-size: initial;
    font-weight: bold;
    color: var(--color1);
    text-shadow: none;
    background: var(--color0);
    border: 1px solid var(--color0);
    box-shadow: none;
}

.widget-inihibitors>button:hover {
    background: var(--color1);
    color: var(--fg-inverse);
}
