/***
 *    ┏┓┏┓┓ ┏┓┳┓┏┓
 *    ┃ ┃┃┃ ┃┃┣┫┗┓
 *    ┗┛┗┛┗┛┗┛┛┗┗┛
 *    LUNARIS COLORS
 */
/*--------Color definitions------------*/
* {
       background:                 #0e151a;
       background-alpha:           #0e151ad3;
       background-alt:             #151f26;
       background-alt-alpha:       #151f26d3;
       foreground:                 #f6f6f5;
       border-color:               #baa0e8;
       selected:                   #baa0e8;
       selected-alpha:             #baa0e8d3;
       selected-text:              #0e151a;
       active:                     #e8eda2;
       urgent:                     #dd6e6b;
}
