/***
 *    ┏┓┏┓┓ ┏┓┳┓┏┓
 *    ┃ ┃┃┃ ┃┃┣┫┗┓
 *    ┗┛┗┛┗┛┗┛┛┗┗┛
 *    EF DREAM COLORS
 */

/*--------Color definitions------------*/
* {
       background:                 #232025;
       background-alpha:           #232025d3;
       background-alt:             #322f34;
       background-alt-alpha:       #322f34b3;
       foreground:                 #efd5c5;
       border-color:               #efd5c5;
       selected:                   #efd5c5;
       selected-alpha:             #efd5c530;
       selected-text:              #232025;
       active:                     #deb07a;
       urgent:                     #ff6f6f;
}