/***
 *    ┏┓┏┓┓ ┏┓┳┓┏┓
 *    ┃ ┃┃┃ ┃┃┣┫┗┓
 *    ┗┛┗┛┗┛┗┛┛┗┗┛
 *    Everblush colors
 */
/*--------Color definitions------------*/
* {
       background:                 #141b1e;
       background-alpha:           #141b1ed3;
       background-alt:             #232a2d;
       background-alt-alpha:       #232a2dd3;
       foreground:                 #dadada;
       border-color:               #67b0e8;
       selected:                   #67b0e8;
       selected-alpha:             #67b0e8d3;
       selected-text:              #141b1e;
       active:                     #8ccf7e;
       urgent:                     #e57474;
}
