/**
 *    ┏┓┳┳┓┏┓┏┳┳  ┏┓┳┏┓┓┏┓┏┓┳┓
 *    ┣ ┃┃┃┃┃ ┃┃━━┃┃┃┃ ┃┫ ┣ ┣┫
 *    ┗┛┛ ┗┗┛┗┛┻  ┣┛┻┗┛┛┗┛┗┛┛┗
 *
 */
/*****----- Configuration -----*****/
configuration {
    modi:                        "drun";
    show-icons:                  false;
}

/*****----- Global Properties -----*****/
@import '~/.config/rofi/shared/colors.rasi'
@import '~/.config/rofi/shared/fonts.rasi'


/*****----- Main Window -----*****/
window {
    width:                       25em;
    height:                      25.5em;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border:                      2px solid;
    border-color:                @border-color;
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.5em;
    orientation:                 vertical;
    children:                    [ "wallbox" , "textbox-help", "listbox" ];
    background-color:            transparent;
}
wallbox {
    spacing:                     0em;
    padding:                     0em;
    expand:                      false;
    orientation:                 horizontal;
    background-color:            transparent;
    background-image:            url("~/.config/rofi/images/currentWalBlur.thumb", width);
    children:                    [ "wallframe" , "inputbar" ];
}
wallframe {
    width:                       5em;
    spacing:                     0em;
    padding:                     0em;
    expand:                      false;
    background-color:            @background-alpha;
    background-image:            url("~/.config/rofi/images/currentWalQuad.quad", width);
}
textbox-help {
    expand:                      false;
    content:                     "🐱 PICK YOUR FAVOURTITE EMOJI 🐼";
    border-radius:               0px;
    background-color:            @background-alt;
    text-color:                  @foreground;
    margin:                      0px;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    padding:                     20px;
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    padding:                     0em;
    children:                    [ "entry" ];
    background-color:            @background-alpha;
    expand:                      true;
}
entry {
    enabled:                     true;
    placeholder:                 "Type to filter";
    padding:                     1.8em;
    text-color:                  @foreground;
    background-color:            transparent;
}

/*****----- Listview -----*****/
listbox {
    spacing:                     0em;
    padding:                     0em;
    orientation:                 vertical;
    children:                    [ "dummy" , "listview" , "dummy" ];
    background-color:            transparent;
}
listview {
    enabled:                     true;
    padding:                     0.5em;
    columns:                     8;
    lines:                       8;
    cycle:                       true;
    fixed-height:                true;
    fixed-columns:               true;
    expand:                      false;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @foreground;
}
dummy {
    spacing:                     0em;
    padding:                     0em;
    background-color:            transparent;
}


/*****----- Elements -----*****/
element {
    enabled:                     true;
    padding:                     0.5em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
}
element selected.normal {
    background-color:            @background-alt;
    text-color:                  @selected-text;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
