/**
 *    ┓ ┏┓┳┳┳┓┏┓┓┏┏┓┳┓  ┏┓
 *    ┃ ┣┫┃┃┃┃┃ ┣┫┣ ┣┫━━┏┛
 *    ┗┛┛┗┗┛┛┗┗┛┛┗┗┛┛┗  ┗━
 *
 */

/*****----- Configuration -----*****/
configuration {
  modi:                       "drun,run,window";
  show-icons:                 true;
  display-drun:               "Apps";
  display-run:                "Run";
  display-window:             "Window";
  drun-display-format:        "{name}";
  icon-theme:                 "Papirus-Dark";
}

/*****----- Global Properties -----*****/
@import                          "~/.config/rofi/shared/colors.rasi"
@import                          "~/.config/rofi/shared/fonts.rasi"

/*****----- Main Window -----*****/
window {
  background-color:              @background;
  border-radius:                 0em;
  width:                         800;
  height:                        654;
  anchor:                        center;
  location:                      center;
  fullscreen:                    false;
}

/*****----- Main Box -----*****/
mainbox {
  background-color:              transparent;
  children:                      [ inputbar, mode-switcher, listview ];
  layout:                        horizontal;
  spacing:                       1.5%;
}

/*****----- Inputbar -----*****/
inputbar {
  background-color:              transparent;
  children:                      [ textbox, entry ];
  enabled:                       true;
  margin:                        1em;
}

textbox {
  font:                          "Material Symbols Rounded 25";
  padding:                       0.8em;
  margin:                        1em;
  border:                        0.1em;
  expand:                        false;
  placeholder:                   "arrow_forward_ios";
  background-color:              @urgent;
  text-color:                    @selected-text;
  border-radius:                 0em;
  border-color:                  @urgent;
  vertical-align:                0.5;
  horizontal-align:              0.5;
}

entry {
  background-color:              transparent;
  placeholder:                   "Search...";
  expand:                        true;
  cursor:                        pointer;
  margin:                        1em 1em 1em 0em;
  padding:                       1em;
  text-color:                    @foreground;
  vertical-align:                0.5;
  border-radius:                 0em;
  border-color:                  @border-color;
  border:                        0.1em;
}

/*****----- Listview -----*****/
listview {
  background-color:              transparent;
  lines:                         5;
  columns:                       2;
  padding:                       0 1em 1em 1em;
  margin:                        0 5em 0 5em;
  dynamic:                       false;
}

/*****----- Elements -----*****/
element {
  background-color:              transparent;
  orientation:                   horizontal;
  children:                      [ element-icon, element-text ];
  spacing:                       1em;
  padding:                       1em;
  border-radius:                 0em;
}

element-icon {
  size:                          2em;
  vertical-align:                0.5;
  enabled:                       false;
}

element selected {
  background-color:              @background;
  border:                        0.1em;
  border-color:                  @border-color;
}

element-text {
  background-color:              @background;
  text-color:                    @foreground;
  vertical-align:                0.5;
}

element-text selected {
  background-color:              @background;
  text-color:                    @foreground;
}

/*****----- Mode Switcher -----*****/
mode-switcher {
  background-color:              @background-alt;
  margin:                        0 5em 0 5em;
  padding:                       0.4em;
  border-radius:                 0em;
}

button {
  background-color:              @background;
  text-color:                    @foreground;
  horizontal-align:              0.5;
  padding:                       0.5em 0.4em 0.5em 0.4em;
  border-radius:                 0em;
}

button selected {
  background-color:              @urgent;
  text-color:                    @selected-text;
}
