/**
 *    ┓ ┏┓┳┳┳┓┏┓┓┏┏┓┳┓  ┓
 *    ┃ ┣┫┃┃┃┃┃ ┣┫┣ ┣┫━━┃
 *    ┗┛┛┗┗┛┛┗┗┛┛┗┗┛┛┗  ┻
 *
 */


/*****----- Configuration -----*****/
configuration {
    modi:                        "drun,run,filebrowser,window";
    show-icons:                  true;
    drun-display-format:         "{name}";
    window-format:               "{w}{t}";
    icon-theme:                  "Fluent-dark";
}

/*****----- Global Properties -----*****/
@import "~/.config/rofi/shared/colors.rasi"
@import "~/.config/rofi/shared/fonts.rasi"

/*****----- Main Window -----*****/
window {
    width:                       400px;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0px;
    padding:                     0px;
    border:                      2px solid;
    border-color:                @border-color;
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    padding:                     14px;
    orientation:                 vertical;
    children:                    [ "inputbar" , "listbox" ];
    background-color:            transparent;
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     0px;
    padding:                     70px;
    children:                    [ "entry" ];
    background-color:            @background;
    background-image:            url("~/.config/rofi/images/currentWal.thumb", width);
    border-radius:               0px;
}
entry {
    enabled:                     false;
}


/*****----- Listview -----*****/
listbox {
    spacing:                     0px;
    padding:                     0px;
    children:                    [ "dummyt" , "listview" , "dummyb" ];
    background-color:            @background;
    border-radius:               0px;
}
listview {
    enabled:                     true;
    spacing:                     6px;
    padding:                     14px;
    columns:                     1;
    lines:                       8;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    expand:                      false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            @background-alt;
    text-color:                  @foreground;
}
dummyt {
    spacing:                     0px;
    padding:                     0px;
    background-color:            @background;
}
dummyb {
    spacing:                     0px;
    padding:                     0px;
    background-color:            @background;
    border-radius:               0px;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     14px;
    padding:                     3px 3px 3px 21px;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
}
element selected.normal {
    background-color:            @selected;
    text-color:                  @selected-text;
}
element selected.active {
    background-color:            @active;
    text-color:                  @selected-text;
}
element-icon {
    size:                        48px;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}

/*****----- Message -----*****/
error-message {
    text-color:                  @foreground;
    background-color:            @background;
    text-transform:              capitalize;
    children:                    [ "textbox" ];
}

textbox {
    text-color:                  inherit;
    background-color:            inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
