ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/bugs/.Xauthority" RUN+="/usr/bin/su bugs -c '/home/bugs/.local/bin/cron/battery-charging discharging'"
# Rule for when switching to AC
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/bugs/.Xauthority" RUN+="/usr/bin/su bugs -c '/home/bugs/.local/bin/cron/battery-charging charging'"
